<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="custom-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">profile</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="auto">
          <ion-avatar style="width: 100px; height: 100px;">
            <ion-img src="C:\Users\Acer\ionic2-maisarah.JPEG" style="border-radius: 50%;"></ion-img>
          </ion-avatar>             
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="auto">
      <ion-text color="primary">
        <h1>Maisarah</h1>
        <h3>Mahasiswa</h3>
        <ion-icon name="logo-instagram" style="font-size: 30px;"></ion-icon>
        <a href="https://instagram.com/shartha_suzuya13?igshid=MzMyNGUyNmU2YQ==" target="_blank">@shartha_suzuya13</a>
        <br>
        <ion-icon name="logo-twitter" style="font-size: 30px;"></ion-icon>
        <a href="https://twitter.com/SharthaSuzuya?t=A3epxW5_V9-hADKgjstV2A&s=09" target="_blank">@SharthaSuzuya</a>
      </ion-text>
      </ion-col>
    </ion-row>  
  </ion-grid>
</ion-content> 


 
